# Python bytecode
__pycache__/
*.pyc
*.pyo

# VScode settings
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.env/

# Environment variables
.env

# CSV files
*.csv

# Logs files
*.log